{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    {% block css %}
    {% endblock %}
    <title>{{ title }}</title>
  </head>
    <body>
        <div class="container">
            {% block content %}
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        {% for httpreq in htresponce|slice:":10" %}
                            <div class="well"> {{ htresponce }} </div>

                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
        </div>
    <script src="{% static 'bootstrap/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/base.js' %}"></script>
    {% block js %}
    {% endblock %}
    </body>
</html>
